USE [PLPSOFT_ERP_SAAS_V2026]
GO
/****** Object:  Schema [crm]    Script Date: 10/05/2026 6:28:55 CH ******/
CREATE SCHEMA [crm]
GO
/****** Object:  Table [crm].[CustomerFeedbacks]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[CustomerFeedbacks](
	[FeedbackID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[BranchID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[InvoiceID] [bigint] NULL,
	[FeedbackTypeID] [bigint] NOT NULL,
	[PriorityID] [bigint] NOT NULL,
	[StatusID] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AssignedToUserID] [bigint] NULL,
	[Resolution] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ResolvedAt] [datetime2](0) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [crm].[CustomerNotes]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[CustomerNotes](
	[NoteID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [crm].[CustomerSchedules]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[CustomerSchedules](
	[ScheduleID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[BranchID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[ScheduleTypeID] [bigint] NOT NULL,
	[StatusID] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartTime] [datetime2](0) NOT NULL,
	[EndTime] [datetime2](0) NOT NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[AssignedToUserID] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[BranchCode] [varchar](50) NOT NULL,
	[BranchName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [varchar](50) NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[CustomerCode] [varchar](50) NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoices]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoices](
	[InvoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceCode] [varchar](50) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemTypes]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemTypes](
	[TypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeCode] [varchar](50) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemTypeValues]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemTypeValues](
	[TypeValueID] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeID] [bigint] NOT NULL,
	[ValueCode] [varchar](50) NOT NULL,
	[ValueName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/05/2026 6:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [crm].[CustomerFeedbacks] ON 

INSERT [crm].[CustomerFeedbacks] ([FeedbackID], [CompanyID], [BranchID], [CustomerID], [InvoiceID], [FeedbackTypeID], [PriorityID], [StatusID], [Rating], [Title], [Content], [AssignedToUserID], [Resolution], [CreatedAt], [ResolvedAt], [IsDeleted], [DeletedAt]) VALUES (1, 1, 1, 1, 1, 1, 6, 8, 3, N'Khách phản hồi sản phẩm lỗi', N'Khách báo sản phẩm nhận được bị lỗi cần kiểm tra và xử lý.', 2, NULL, CAST(N'2026-05-10T18:18:59.0000000' AS DateTime2), NULL, 0, NULL)
SET IDENTITY_INSERT [crm].[CustomerFeedbacks] OFF
GO
SET IDENTITY_INSERT [crm].[CustomerNotes] ON 

INSERT [crm].[CustomerNotes] ([NoteID], [CustomerID], [Content], [CreatedByUserID], [CreatedAt], [IsDeleted], [DeletedAt]) VALUES (1, 1, N'Khách thích được liên hệ vào buổi sáng.', 2, CAST(N'2026-05-10T18:18:59.0000000' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [crm].[CustomerNotes] OFF
GO
SET IDENTITY_INSERT [crm].[CustomerSchedules] ON 

INSERT [crm].[CustomerSchedules] ([ScheduleID], [CompanyID], [BranchID], [CustomerID], [ScheduleTypeID], [StatusID], [Title], [Description], [StartTime], [EndTime], [CreatedByUserID], [AssignedToUserID], [CreatedAt], [IsDeleted], [DeletedAt]) VALUES (1, 1, 1, 1, 12, 16, N'Gọi điện chăm sóc khách hàng KH001', N'Gọi điện hỏi thăm sau khi khách mua hàng.', CAST(N'2026-05-11T18:18:59.0000000' AS DateTime2), CAST(N'2026-05-11T18:48:59.0000000' AS DateTime2), 1, 2, CAST(N'2026-05-10T18:18:59.0000000' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [crm].[CustomerSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [CompanyID], [BranchCode], [BranchName]) VALUES (1, 1, N'CN001', N'Chi nhánh chính')
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyID], [CompanyCode], [CompanyName]) VALUES (1, N'PLP', N'Công ty TNHH Công nghệ Phần mềm Phúc Lam Phương')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CompanyID], [CustomerCode], [CustomerName], [Phone], [Email]) VALUES (1, 1, N'KH001', N'Nguyễn Văn A', N'0900000001', N'kh001@example.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoices] ON 

INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceCode], [CustomerID], [TotalAmount], [CreatedAt]) VALUES (1, N'HD001', 1, CAST(1500000.00 AS Decimal(18, 2)), CAST(N'2026-05-10T18:18:59.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SalesInvoices] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemTypes] ON 

INSERT [dbo].[SystemTypes] ([TypeID], [TypeCode], [TypeName]) VALUES (1, N'FEEDBACK_TYPE', N'Loại phản hồi')
INSERT [dbo].[SystemTypes] ([TypeID], [TypeCode], [TypeName]) VALUES (2, N'PRIORITY', N'Mức độ ưu tiên')
INSERT [dbo].[SystemTypes] ([TypeID], [TypeCode], [TypeName]) VALUES (3, N'CRM_STATUS', N'Trạng thái phản hồi CRM')
SET IDENTITY_INSERT [dbo].[SystemTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemTypeValues] ON 

INSERT [dbo].[SystemTypeValues] ([TypeValueID], [TypeID], [ValueCode], [ValueName], [IsActive]) VALUES (1, 1, N'COMPLAINT', N'Khiếu nại', 1)
INSERT [dbo].[SystemTypeValues] ([TypeValueID], [TypeID], [ValueCode], [ValueName], [IsActive]) VALUES (2, 1, N'INQUIRY', N'Thắc mắc/Hỏi đáp', 1)
INSERT [dbo].[SystemTypeValues] ([TypeValueID], [TypeID], [ValueCode], [ValueName], [IsActive]) VALUES (3, 1, N'SUGGESTION', N'Góp ý', 1)
SET IDENTITY_INSERT [dbo].[SystemTypeValues] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [CompanyID], [UserName], [FullName]) VALUES (1, 1, N'admin', N'Quản trị viên')
INSERT [dbo].[Users] ([UserID], [CompanyID], [UserName], [FullName]) VALUES (2, 1, N'crm01', N'Nhân viên chăm sóc khách hàng')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Companie__11A0134B65D255DB]    Script Date: 10/05/2026 6:28:55 CH ******/
ALTER TABLE [dbo].[Companies] ADD UNIQUE NONCLUSTERED 
(
	[CompanyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemTy__3E1CDC7CED9A168B]    Script Date: 10/05/2026 6:28:55 CH ******/
ALTER TABLE [dbo].[SystemTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SystemTypeValues_TypeID_ValueCode]    Script Date: 10/05/2026 6:28:55 CH ******/
ALTER TABLE [dbo].[SystemTypeValues] ADD  CONSTRAINT [UQ_SystemTypeValues_TypeID_ValueCode] UNIQUE NONCLUSTERED 
(
	[TypeID] ASC,
	[ValueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456D8F5505B]    Script Date: 10/05/2026 6:28:55 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [crm].[CustomerFeedbacks] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [crm].[CustomerFeedbacks] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [crm].[CustomerFeedbacks] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [crm].[CustomerNotes] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [crm].[CustomerNotes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [crm].[CustomerSchedules] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [crm].[CustomerSchedules] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemTypeValues] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_AssignedUser] FOREIGN KEY([AssignedToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_AssignedUser]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_Branches]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_Companies]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_Customers]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_FeedbackType] FOREIGN KEY([FeedbackTypeID])
REFERENCES [dbo].[SystemTypeValues] ([TypeValueID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_FeedbackType]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_Priority] FOREIGN KEY([PriorityID])
REFERENCES [dbo].[SystemTypeValues] ([TypeValueID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_Priority]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_SalesInvoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[SalesInvoices] ([InvoiceID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_SalesInvoices]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFeedbacks_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[SystemTypeValues] ([TypeValueID])
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [FK_CustomerFeedbacks_Status]
GO
ALTER TABLE [crm].[CustomerNotes]  WITH CHECK ADD  CONSTRAINT [FK_CustomerNotes_CreatedByUser] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [crm].[CustomerNotes] CHECK CONSTRAINT [FK_CustomerNotes_CreatedByUser]
GO
ALTER TABLE [crm].[CustomerNotes]  WITH CHECK ADD  CONSTRAINT [FK_CustomerNotes_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [crm].[CustomerNotes] CHECK CONSTRAINT [FK_CustomerNotes_Customers]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_AssignedUser] FOREIGN KEY([AssignedToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_AssignedUser]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_Branches]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_Companies]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_CreatedByUser] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_CreatedByUser]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_Customers]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_ScheduleType] FOREIGN KEY([ScheduleTypeID])
REFERENCES [dbo].[SystemTypeValues] ([TypeValueID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_ScheduleType]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSchedules_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[SystemTypeValues] ([TypeValueID])
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [FK_CustomerSchedules_Status]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_Companies]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Companies]
GO
ALTER TABLE [dbo].[SalesInvoices]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesInvoices] CHECK CONSTRAINT [FK_SalesInvoices_Customers]
GO
ALTER TABLE [dbo].[SystemTypeValues]  WITH CHECK ADD  CONSTRAINT [FK_SystemTypeValues_SystemTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[SystemTypes] ([TypeID])
GO
ALTER TABLE [dbo].[SystemTypeValues] CHECK CONSTRAINT [FK_SystemTypeValues_SystemTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Companies]
GO
ALTER TABLE [crm].[CustomerFeedbacks]  WITH CHECK ADD  CONSTRAINT [CK_CustomerFeedbacks_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [crm].[CustomerFeedbacks] CHECK CONSTRAINT [CK_CustomerFeedbacks_Rating]
GO
ALTER TABLE [crm].[CustomerSchedules]  WITH CHECK ADD  CONSTRAINT [CK_CustomerSchedules_Time] CHECK  (([EndTime]>=[StartTime]))
GO
ALTER TABLE [crm].[CustomerSchedules] CHECK CONSTRAINT [CK_CustomerSchedules_Time]
GO
